@font-face {
  font-family: "SF Pro";
  src: url("./assets/font/SF-Pro.woff") format("woff"),
    url("./assets/font/SF-Pro.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --system-ui: "SF Pro", Roboto, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --submit-color: #004615;
  --cancel-color: #6f101b;
  --low-priority-color: #009432;
  --medium-priority-color: #ff9400;
  --high-priority-color: #e2162a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  width: 100%;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: var(--system-ui);
  background-color: #5e3737;
  display: grid;
  color: white;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

header,
footer {
  display: flex;
  justify-content: center;
}

[src$=".svg"] {
  width: 2em;
}

.hidden {
  display: none !important;
}

/* Main Style */
main {
  display: grid;
  grid-template-columns: 0.5fr 3fr;
  grid-template-rows: 1fr auto auto;
}

#sidebarButtonContainer {
  padding: 1em;
  grid-column: 1/2;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}

#contentButtonContainer {
  padding: 1em;
  grid-column: 2/3;
  display: flex;
  font-size: 1.1rem;
  justify-content: center;
}

#content {
  padding: 1em;
  grid-column: 2/3;
}

#content div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.2fr;
  gap: 8px;
  align-items: baseline;
}

#content div p:nth-child(2),
#content div h3 {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

#content div h3 {
  font-size: 1.75rem;
}

#content h4 {
  font-size: 1.7rem;
  font-weight: bold;
}

[priority="HIGH"] h4 {
  color: var(--high-priority-color);
}

[priority="LOW"] h4 {
  color: var(--low-priority-color);
}

[priority="MEDIUM"] h4 {
  color: var(--medium-priority-color);
}

/* Sidebar style */
#sidebar {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* Icon style */

#sidebarButtonContainer [src$=".svg"],
#contentButtonContainer [src$=".svg"] {
  cursor: pointer;
  user-select: none; /* Prevents text selection */
  filter: brightness(0) invert(1);
}

#content [src$=".svg"],
#sidebar h3 {
  cursor: pointer;
  user-select: none;
}

#sidebar [src$=".svg"] {
  user-select: none;
  filter: brightness(0) invert(1);
}
#sidebar div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.reminder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Dialog style */
dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  text-align: center;
}

dialog div,
dialog form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

dialog .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

dialog .buttons button {
  border-radius: 8px;
  border: 1px solid black;
}

dialog .buttons button:last-child:hover {
  background-color: var(--cancel-color);
  color: white;
}

dialog .buttons button:first-child:hover {
  background-color: var(--submit-color);
  color: white;
}

dialog button {
  padding: 1em 3em;
}
